.map {
    position: absolute;
    width: 100%;
    height: 100%;
	background-color: rgba(245,245,245,1);
}

/* 回到定位点 */
button.control-locate {
    position: absolute;
    bottom: 28%;
    left: 15px;
	-webkit-filter: drop-shadow(0 1px 3px rgba(170,170,170,0.7));
	filter: drop-shadow(0 1px 3px rgba(170,170,170,0.7));
    font-size: 16px;
	padding: 0px;
	border-radius: 40px;
	width: 40px;
	height: 40px;
}
button.control-locate:hover {
    color: deepskyblue;
}

/* 搜索框 */
.control-delete {
	float: right;
	width: 20px;
	height: 20px;
	margin: 13px 10px 15px 10px;
	display: none;
}
.searchmain, .routemain {
	position: absolute;
	top: 15px;
	width: 100%;
	max-width: 500px;
	left: 0%;
	padding-right: 8px;
	padding-left: 8px;
}
.search, .route {
	height: 50px;
	border: 1px solid #F0F1F1;
	border-radius: 3px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	-moz-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	position: relative;
}
#u146_img, .102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u146, #u102{
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:28px;
  height:22px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:7px;
  width:70%;
  word-wrap:break-word;
}
.search_input {
	float: left;
	margin-top: 8px;
	color: rgba(128, 128, 128, 0.7);
	font-size: 15px;
}
.search_input2 input, .route_input1 input, .route_input2 input {
	border: none;
	height: 34px;
	font-size: 15px;
	outline:none;
}
#clearSearchStartText, #clearSearchText {
  border-width:0px;
  position:absolute;
  right:53px;
  top:13px;
  width:22px;
  height:22px;
}
#clearSearchEndText {
  border-width:0px;
  position:absolute;
  right:53px;
  top:48px;
  width:22px;
  height:22px;
}
#u108 {
  border-width:0px;
  position:absolute;
  right:42px;
  top:5px;
  width:1px;
  height:26px;
  margin: 7px;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
.search_right {
	float: right;
	width: 30px;
	height: 20px;
	margin: 13px 10px;
	color: #4b4b4b;
	font-size: 15px;
}
#search_result {
	width: 100%;
	position: absolute;
	top: 65px;
	z-index: 1;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	-moz-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	border: 1px solid #F0F1F1;
	border-top: none;
	border-radius: 3px;
}
.line {
	font-size: 15px;
	color: #000;
	background: #ffffff;
	width: 1%;
	/* padding: 6px; */
	line:60px;
/* 	border-bottom:1px   solid   #f2f2f2; */
}
.hover {
	background: #007ab8;
	color: #fff;
}

#u98 {
	width: 100%;
	height: 120px;
	position: absolute;
	top: 80px;
	padding-right: 9px;
	padding-left: 9px;
	max-width: 500px;
}
#u98_div {
  border-width:0px;
  position:relative;
  width:100%;
  height:100%;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -webkit-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
  -moz-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
  box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
  text-align:left;
}
#u109 {
  border-width:0px;
  left:10px;
  top:6px;
  width:100%;
  height:26px;
  padding: 20px 20px;
}
.search-servers {
	color: #757575;
	font-size: 15px;
	margin-left: 20px;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:3%;
  top:55px;
  width:94%;
}
.servers {
	overflow: auto;
	padding: 15px 0px 0px 0px;
}
.servers ul {
	overflow: auto;
	padding-left: 0px;
	margin: 0px;
}
.servers ul li {
	list-style: none;
	float: left;
	width: 25%;
	text-align: center;
	margin: 20px 0px;
}
.servers ul li img {
	width: 25px;
	height: 25px;
}

/* 搜索详情 */
.div2{
	position:absolute;
	width:100%;
	height:auto;
	background:#fff;
	bottom:0px;
	display:none;
}
.down {
    background:#ffffff;
	position: relative;
	border-right: none;
	width: 100%;
	-webkit-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	-moz-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	padding: 2px 4px; 
}
.site {
	margin: 0 0 0 1rem;
	font-size: 20px;
	line-height: 50px;
	font-weight: 700;
}
.floor {
	margin: 0 0 0 1rem;
	font-size: 14px;
}
.details {
	margin: 0 0 0 1rem;
}
.details span {
	margin: 0 10px 0 0;
	font-size: 14px;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:3%;
  top:105px;
  width:94%;
}
.detail-menu {
	overflow: auto;
	padding: 10px 0px;
}
.detail-menu ul/* , #u99_div div ul  */{
	overflow: auto;
	padding-left: 0px;
	margin: 0px;
	font-size: 13px;
}
.detail-menu ul li /* , #u99_div div ul li */{
	list-style: none;
	float: left;
	width: 33.3%;
	text-align: center;
	margin: 20px 0px 5px 0px;
	font-size: 15px;
}
.collection, .navigation, .around {
	width: 90%;
	background-color: white;
	border: none; 
	height: 100%;
	border-radius: 4px;
}
.detail-menu ul li img {
	width:14px;
	height: 14px;
	margin-bottom: 3px;
}
.walk {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background: rgb(0, 153, 255);
	text-align: center;
	line-height: 13px;
	position: absolute;
	right: 10%;
	bottom: 72%;
}
.walk img {
	margin-top: 11px;
}
.walk p {
	color: #FFFFFF;
}

/* 路线规划设置 */
.routemain {
	display: none;
}
.route {
	height: 80px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:45px;
  width:70%;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:15%;
  top:40px;
  width:65%;
}
#route_search_result {
	width: 100%;
	position: absolute;
	top: 90px;
	z-index: 1;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	-moz-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	border: 1px solid #F0F1F1;
	border-top: none;
	border-radius: 3px;
}
#route-server {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 100px;
	padding-right: 9px;
	padding-left: 9px;
	display: none;
	max-width: 500px;
}
#route-server_div {
  border-width:0px;
  position:relative;
  width:100%;
  height:100%;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -webkit-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
  -moz-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
  box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
  text-align:left;
}
.detail-route ul {
	padding: 0px; 
}
.detail-route ul li {
	list-style: none;
	float: left;
	width: 33.3%;
	text-align: center;
	margin: 20px 0px;
}
.detail-route ul li img {
	width: 16px;
	height: 16px;
}
.route-down {
	position:absolute;
	width:100%;
	height:auto;
	bottom:0px;
	display:none;
	padding-right: 8px;
	padding-left: 8px;
	max-width: 500px;
}
.route-msg {
	height: 50px;
	margin-bottom: 15px;
}
#route2msg {
    border-width: 0px;
    position: relative;
    height: 24px;
    color: #333;
	padding: 0px 10px;
}
#route2msg span {
	font-size: 15px;
	line-height: 50px;
}
#route2navi {
    border-width: 0px;
    position: relative;
	width: 100px;
    height: 28px;
    color: #fff;
	float: right;
	bottom: 14px;
	padding: 0px 20px;
	background: rgba(0, 153, 255, 1);
	border-radius: 50px;
	box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
}
#route2navi span {
	font-size: 15px;
	line-height: 29px;
}

/* 导航设置 */
.navi-top {
	position:absolute;
	width:100%;
	height:auto;
	top:0px;
	display:none;
	padding-right: 8px;
	padding-left: 8px;	
}
#naviLength {
	background:#1e3a56;
	position: relative;
	border-right: none;
	width: 100%;
	-webkit-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	-moz-box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	box-shadow: 1px 1px 3px rgba(170, 170, 170, 0.7);
	padding: 2px 4px; 
	height: 100px;
	margin-top: 15px;
	border-radius: 5px;
	text-align: center;
}
#naviLength span {
	font-size: 20px;
	line-height: 90px;
	font-weight: 700;
	color: #ffffff;
}
.navi-down {
	position:absolute;
	width:100%;
	height:auto;
	bottom:0px;
	display:none;
	padding-right: 8px;
	padding-left: 8px;
	max-width: 500px;
}
.navi-down-msg {
	height: 50px;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
}
#navi-back {
	border-width: 0px;
    position: relative;
    height: 40px;
	width: 40px;
    color: #333;
	margin: 5px 5px;
	padding-right: 0px;
	padding-left: 0px;
}
#navi-back span{
	font-size: 15px;
	line-height: 40px;
	font-weight: 700;
}
#navi-back-img {
	border-width: 0px;
	position: absolute;
	left: 0px;
	top: 5px;
	width: 2px;
	height: 40px;
}
#navi-time {
	border-width: 0px;
    position: relative;
	/* width: 150px; */
    height: 28px;
	float: right;
	padding: 10px 15px;
	
}
#navi-time span {
	font-size: 17px;
	line-height: 29px;
	font-weight: 700;
}

/* 菜单条 */
.feature-select {
    position: absolute;
    top: 25%;
    left: 8px;
	-webkit-filter: drop-shadow(0 1px 2px rgba(170,170,170,1));
	filter: drop-shadow(0 1px 2px rgba(170,170,170,1));
}
.feature-select ul li.dropdown {
    margin-bottom: -2px; 
	border-radius: 40px;
	background-color: white;
}
.feature-select ul li a{
	padding: 6px 15px;
	border-radius: 30px;
}
.feature-select ul li a img {
	width: 1.2em;
	height: 1.2em;
}
.feature-select ul li a span {
	font-size: 12px;
	color: #7e7e7e;
}
li.dropdown .dropdown-backdrop {
    display: none;
}
ul.feature-list {
    top: 0;
    left: 4em;
	webkit-box-shadow: 0 1px 3px rgba(170,170,170,0.7);
	box-shadow: 0 1px 3px rgba(170,170,170,0.7);
	border: 0px;
	border-radius: 3px;
	min-width: 60px;
}

/* 楼层条 */
div.floor-select {
    position: absolute;
    /* height: 11.88em; */
	width: 3em;
    top: 28%;
    right: 8px;
	background-color: white; 
	border-radius: 3px;
	-webkit-filter: drop-shadow(0 1px 3px rgba(170, 170, 170, 0.7));
	filter: drop-shadow(0 1px 3px rgba(170, 170, 170, 0.7));
}
.floorshow a{
	font-size: 12px;
}
.down,.dropdown-toggle{
	/* background-color: rgb(240,240,240); */
	padding: 2px 14px; 
}
.floor-wheel {
	position: relative;
    height: 8.6em; 
	/* min-height: 2em; */
    overflow: scroll;
	width: 3em;
	overflow-x: hidden;
}
::-webkit-scrollbar {display:none}
.floor-wheel ul {
    position: absolute;
    top: 0em;
    transition: .3s top;
}
.floor-wheel ul li {
	margin: 0px 0px -4px 0px;
	width: 3em;
	height: 2.5em;
}
.floor-wheel ul li a{
	padding: 8px 12px;
	font-size: 12px;
}
.floor-wheel ul li.active >a{
	background-color: rgb(22, 155, 213);
} 

/* 修改默认控件 */
/* 缩放 */
.ol-zoom {
    position: absolute;
    bottom: 30%;
    right: 8px;
	background-color: rgba(255,255,255,1);
	-webkit-filter: drop-shadow(0 1px 3px rgba(170, 170, 170, 0.7));
	filter: drop-shadow(0 1px 3px rgba(170, 170, 170, 0.7));
	border-radius: 3px;
}
.ol-control button {
	background-color: rgba(255,255,255,0);
	color: rgb(22, 155, 213);
}
.ol-control button:hover{
	background-color: rgb(22, 155, 213);
	color: white;
	border-radius: 2px 2px 2px 2px;
}
/* 比例尺 */
.ol-scale-line {
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: rgba(255, 255, 255, 0);
}
div.ol-scale-line-inner {
    color: black;
    border: 1px solid #444;
    border-top: none;
    /*background-color: rgba(0, 0, 0, 0);*/
}
/* 指北针 */
div.ol-rotate {
    top: 2%;
    right: 5%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}
div.ol-rotate button.ol-rotate-reset {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}
img.ol-compass {
	width: 40px;
	height: 40px;
}


/* 测距 */
.tooltiptip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.25em;
    color: white;
    padding: 0.2em 0.4em;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
}
.tooltip-static {
    background-color: rgba(256, 204, 51, 1);
    font-size: 0.8em;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-top-color: rgba(256, 204, 51, 1);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

/* 找路 */


/* 收藏 */
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 200px;
	min-height: 80px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-collection {
	position: absolute;
	bottom: 40px;
	right: 1em;
	width: 3.5em;
	background-color: rgb(168,100,45);
	color: white;
	border-radius: 0.3em;
	padding: 0px;
	border: 0px;
	font-size:small;
}	
.ol-popup-from {
	position: absolute;
	bottom: 10px;
	right: 5.5em;
	width: 3.5em;
	background-color: rgb(45,100,168);
	color: white;
	border-radius: 0.3em;
	padding: 0px;
	border: 0px;
	font-size:small;
}	
.ol-popup-to {
	position: absolute;
	bottom: 10px;
	right: 1em;
	width: 3.5em;
	background-color: rgb(45,100,168);
	color: white;
	border-radius: 0.3em;
	padding: 0px;
	border: 0px;
	font-size:small;
}	
.ol-popup-search {
	position: absolute;
	bottom: 10px;
	right: 10em;
	width: 3.5em;
	background-color: rgb(45,100,168);
	color: white;
	border-radius: 0.3em;
	padding: 0px;
	border: 0px;
	font-size:small;
}		
.ol-popup-collection:hover{
	background-color: rgba(256, 204, 51, 1);
	color: white;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
	
}
.ol-popup-closer:after {
	content: "✖";
}


/* leaflet风格气泡窗口样式模板 */
.leaflet-popup {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 100px;
}
.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
.leaflet-popup-content-wrapper {
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    padding: 1px;
    text-align: left;
    border-radius: 12px;
}
.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
}
.leaflet-popup-tip-container {
    margin: 0 auto;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.leaflet-popup-tip {
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
